<div class="ui segment">
  <div class="ui items">
    <div class="item">
      <div class="content">
        <div class="header">{{model.owner.lastName}}  {{model.title}}</div>
        <div class="meta">
          <span class="price">{{moment-format model.startDate  'MMMM Do YYYY, h:mm a' }}</span>
          <span class="stay">{{model.address}}</span>
        </div>
        <div class="description">
          <p> {{{model.description}}}</p>
        </div>
      </div>
    </div>
  </div>
  {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}

  {{#unless model.goblal}}
    <div class="ui button blue" {{action 'makeSeccional'}}>Hacer seccional</div>
  {{/unless}}

</div>
