  <div class="ui grid stackable">
    <div class="eight wide column">
      <div class="ui segment">
        <h1>{{model.owner.lastName}}  {{model.title}}</h1>
        <h2>{{moment-format model.startDate  'MMMM Do YYYY, h:mm a' }}</h2>
        <h5>{{model.address}}</h5>
        <span>{{{model.description}}}</span>
        {{#unless model.goblal}}
          <div class="ui button blue" {{action 'makeSeccional'}}>Hacer seccional</div>
        {{/unless}}         
      </div>
    </div>
    <div class="eight wide column">
         <div class="ui segment">
            {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}
         </div>
    </div> 
  </div>



