<div class="ui container segment">
  <div class="actions">
    {{link-to "Crear nuevo evento" "events.new" classNames="ui orange button tiny" }}
  </div>


  {{as-calendar
    title="Eventos"
    occurrences=occurrences
    defaultTimeZoneQuery="Buenos Aires"
    dayStartingTime="7:00"
    dayEndingTime="18:00"
    timeSlotDuration="00:30"
    editable=false
    onAddOccurrence=(action "calendarAddOccurrence")
    onUpdateOccurrence=(action "calendarUpdateOccurrence")
    onRemoveOccurrence=(action "calendarRemoveOccurrence")}}
</div>

{{#if (can "view admin")}}
  <div class="ui container segment">
    <div class="ui buttons">
      <a {{action "loadSeccionals"}} class="ui button">Seccionales</a>
      {{#each userList as |user|}}
        <a {{action "loadData" user.id}} class="ui button">{{user.lastName}}</a> 
      {{/each}}
    </div>
  </div>
{{/if}}